---
import Logo from '../components/Logo.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inversion">
	<main>
		<Logo height="100vh"/>
	</main>
</Layout>

<style>
	body {
		margin: 0;
	}
	main {
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
