---
import Logo from '../components/Logo.astro';
import Mouse from '../components/Mouse.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inversion">
	<main>
		<Logo height="100vh"/>
		<Mouse/>	
	</main>
</Layout>

<style>
	body {
		margin: 0;
	}
	main {
		cursor: none;
		color: white;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;
		position: absolute;
	}
</style>
